<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drwang.aidi_client">

    <application
        android:name=".AIDLClientApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/aidl_client_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.AIDLClientActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.drwang.aidl_server.aidl.ServerService"
            android:enabled="true"
            android:exported="true"
            android:process=".remote">
            <intent-filter>
                <action android:name="com.drwang.aidl_server.serverservicetest" />
            </intent-filter>
        </service>
    </application>
</manifest>